<p>
  <h3 style="text-align:center" >Aca, los eventos pasados</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th style="text-align:center" scope="col">Contribuyente 1</th>
        <th colspan="2" style="text-align:center" scope="col">Match</th>
        <th style="text-align:center" scope="col">Contribuyente 2</th>
      </tr>
    </thead>
    <tbody *ngFor="let evento of eventos">
      <tr>
        <td scope="row">{{evento.id}}</td>
        <td>{{evento.fechaEvento | date: 'dd/MM/yyyy'}}</td>
        <td style="text-align:left" >{{evento.persona1.nombre}}</td>
        <td style="text-align:right" >{{totalVotos(evento.puntuaciones,evento.persona1)}}</td>
        <td style="text-align:left" >{{totalVotos(evento.puntuaciones,evento.persona2)}}</td>
        <td style="text-align:right" >{{evento.persona2.nombre}}</td>
      </tr>
    </tbody>
  </table>

