<p>
  <h2 *ngIf="eventoActual"  style="text-align:center">Elegi las mejores facturas.... del {{eventoActual.fechaEvento |  date: 'dd/MM/yyyy'}}</h2>

  <select class="form-control" name="eventoSemanal" [(ngModel)]="personaCandidata">
    <option *ngFor="let p of candidatos" [ngValue]="p">{{p.nombre}}</option>
  </select>
  <br/>

  <button class="btn-default" type="submit" (click)="votarPersona()" [disabled]="personaCandidata == null " >Votar</button>
  <!--<input class="btn btn-default" type="submit" value="Submit">-->


  <h2 style = "color:red" *ngIf="resultado">{{resultado}}</h2>

  